/*
*	INFC55 Group 3
*	2014
*/

/* ==========================================================================================
	Table of Contents
=============================================================================================
	:: General
	:: Fonts
	:: Header
	:: Navigation
	:: Section - General
	:: Footer
*/


/* ==========================================================================================
	General
============================================================================================= */

	body {
		background-color: #ededed;
	}

	img {
		width: 100%;
		height: auto;
	}


/* ==========================================================================================
	Fonts
============================================================================================= */



/* ==========================================================================================
	Header
============================================================================================= */

	header {
		text-align: center;
		font-size: 32px;
	}

	.top-logo {
		padding: 25px 0;
	}


/* ==========================================================================================
	Navigation
============================================================================================= */

	.navbar {
		margin-bottom: 25px;
		border-radius: 0;
	}

	.navbar-default {
		background-color: #fafafa;
		border: none;
	}

	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}


/* ==========================================================================================
	Sidebars
============================================================================================= */

	.sidebar {

	}

	#sidebar-left {

	}

	#sidebar-right {

	}


/* ==========================================================================================
	Main Content
============================================================================================= */

	#main-content {

	}


/* ==========================================================================================
	Footer
============================================================================================= */

	footer {
		margin-top: 25px;
		padding: 50px 0;
		text-align: center;
		background-color: #fafafa;
	}
