/*
*	INFC55 Group 3
*	2014
*/

/* ==========================================================================================
	Table of Contents
=============================================================================================
	:: General
	:: Header
	:: Navigation
	:: Section - General
	:: Footer
*/


/* ==========================================================================================
	General
============================================================================================= */

	html {
		height: 100%;
	}

	body {
		height: 100%;
		margin: 0;

		background-color: #eee;
	}

	/* This class is the creme de la creme of the responiveness of the site */
	.container {
		width: 1200px;
		margin: 0 auto;
	}

	@media (max-width:1200px) {
		.container {
			width: 800px;
		}
	}



/* ==========================================================================================
	Header
============================================================================================= */

	header {
	}



/* ==========================================================================================
	Navigation
============================================================================================= */

	nav {
	}



/* ==========================================================================================
	Sections General
============================================================================================= */

	section {
	}


/* ==========================================================================================
	Footer
============================================================================================= */

	footer {
	}