/*
*	INFC55 Group 3
*	2014
*/

/* ==========================================================================================
	Table of Contents
=============================================================================================
	:: General
	:: Header
	:: Navigation
	:: Section - General
	:: Footer
*/


/* ==========================================================================================
	General
============================================================================================= */

	html {
		height: 100%;
		width: 100%;
	}

	body {
		height: 100%;
		width: 100%;
	}



/* ==========================================================================================
	Header
============================================================================================= */

	header {
	}



/* ==========================================================================================
	Navigation
============================================================================================= */

	nav {
	}



/* ==========================================================================================
	Sections General
============================================================================================= */




/* ==========================================================================================
	Footer
============================================================================================= */

	footer {
	}
