/*
*	INFC55 Group 3
*	2014
*
*	This is the uncompiled LESS file. This compiles into main.css (used on the site).
*/

/* ==========================================================================================
	Table of Contents
=============================================================================================
	:: Variables
	:: General
	:: Fonts
	:: Header
	:: Navigation
	:: Main Content
	:: Sidebar Right
	:: Footer
*/

/* ==========================================================================================
	Variables
============================================================================================= */

	/* Colors */
	@veryLightBlue: #ecf2f6;
	@lightBlue: #97add3;
	@blue: #22abe3;
	@darkBlue: #67758d;
	@veryDarkBlue: #333e4f;


/* ==========================================================================================
	General
============================================================================================= */

	html {
		height: 100%;
	}

	body {
		height: 100%;
		padding-top: 50px; /* Pushes down site because of fixed navbar */
	}


/* ==========================================================================================
	Fonts - Generic
============================================================================================= */

	body {
		font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: normal;
		-webkit-font-smoothing: antialiased; /* Better cross-browser font weight "anti-aliasing" */
		color: @veryDarkBlue;
	}

	a {
		color: @blue;

		&:hover,
		&:focus {
			color: @darkBlue;
			text-decoration: none;
		}
	}


/* ==========================================================================================
	Header
============================================================================================= */

	header {
	}


/* ==========================================================================================
	Navigation
============================================================================================= */

	#navbar,
	.navbar-brand {
		font-weight: 400; /* heavier font weight in navbar */
	}

	.navbar-fixed-top {
		border: 0;
	}

	.navbar-inverse {
		background-color: @veryDarkBlue;

		.navbar-brand, 
		.navbar-nav > li > a {
			color: @veryLightBlue; /* link color in navbar */

			&:hover {
				color: @lightBlue; /* link color in navbar when hovered */
			}
		}
	}

	.navbar-inverse .navbar-toggle {
		border: none; /* removes the border around the hamburger icon */
		margin-top: 9px;

		&:hover,
		&:focus {
			background-color: @darkBlue; /* bg color of the hamburger icon when hovered */
		}
	}

	@media (max-width: 767px) {
		.navbar-nav {
			text-align: center; /* centers the menu items when on small devices */
		}
	}


/* ==========================================================================================
	Main Content
============================================================================================= */

	.main-content {
		padding: 20px;
	}

	@media (min-width: 768px) {
		.main-content {
			padding-right: 40px;
			padding-left: 40px;
		}
	}


/* ==========================================================================================
	Sidebar Right
============================================================================================= */

	.sidebar-right {
		display: none; /* No sidebar in default (mobile) view */
	}

	@media (min-width: 768px) {
		.sidebar-right { /* Shows the right sidebar when on medium screen or larger */
			position: fixed;
			top: 50px;
			bottom: 0;
			right: 0;
			z-index: 1000;
			display: block;
			padding: 20px;
			overflow-x: hidden;
			overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
			background-color: @veryLightBlue;
			border-right: 1px solid #eee;
		}
	}


/* ==========================================================================================
	Footer
============================================================================================= */

	footer {
		padding: 20px 0;
		text-align: center;
	}

	@media (min-width: 768px) {
		footer {
			text-align: left; /* Align the text to the left when on medium or larger screens. */
		}
	}
