/*
*	INFC55 Group 3
*	2014
*/

/* ==========================================================================================
	Table of Contents
=============================================================================================
	:: General
	:: Fonts
	:: Header
	:: Navigation
	:: Footer
*/


/* ==========================================================================================
	General
============================================================================================= */

	html {
		height: 100%;
	}

	body {
		height: 100%;
	}

	/* Makes all images responsive */
	img {
		width: 100%;
		height: auto;
	}


/* ==========================================================================================
	Fonts
============================================================================================= */



/* ==========================================================================================
	Header
============================================================================================= */

	header {
	}


/* ==========================================================================================
	Navigation
============================================================================================= */

	.navbar {
		margin-bottom: 25px;
		border-radius: 0;
	}

	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}


/* ==========================================================================================
	Footer
============================================================================================= */

	footer {
		margin-top: 25px;
		padding: 50px 0;
		text-align: center;
	}
