/*
*	INFC55 Group 3
*	2014
*/

/* ==========================================================================================
	Table of Contents
=============================================================================================
	:: General
	:: Fonts
	:: Header
	:: Navigation
	:: Footer
*/


/* ==========================================================================================
	General
============================================================================================= */

	body {
	}

	/* Makes all images responsive */
	img {
		width: 100%;
		height: auto;
	}


/* ==========================================================================================
	Fonts
============================================================================================= */



/* ==========================================================================================
	Header
============================================================================================= */

	header {
	}


/* ==========================================================================================
	Navigation
============================================================================================= */

	.navbar {
		border-radius: 0;
	}


/* ==========================================================================================
	Footer
============================================================================================= */

	footer {
	}
